select#country.form-control(type='select' name='country' required='true' )
    option(value="" label="Select a country" selected="selected" )  #{"Select a country "} 
    option(value="AF" label="Afghanistan" )  #{"Afghanistan"} 
    option(value="AL" label="Albania" )  #{"Albania"} 
    option(value="DZ" label="Algeria" )  #{"Algeria"} 
    option(value="AS" label="American Samoa" )  #{"American Samoa"} 
    option(value="AD" label="Andorra" )  #{"Andorra"} 
    option(value="AO" label="Angola" )  #{"Angola"} 
    option(value="AI" label="Anguilla" )  #{"Anguilla"} 
    option(value="AQ" label="Antarctica" )  #{"Antarctica"} 
    option(value="AG" label="Antigua and Barbuda" )  #{"Antigua and Barbuda"} 
    option(value="AR" label="Argentina" )  #{"Argentina"} 
    option(value="AM" label="Armenia" )  #{"Armenia"} 
    option(value="AW" label="Aruba" )  #{"Aruba"} 
    option(value="AU" label="Australia" )  #{"Australia"} 
    option(value="AT" label="Austria" )  #{"Austria"} 
    option(value="AZ" label="Azerbaijan" )  #{"Azerbaijan"} 
    option(value="BS" label="Bahamas" )  #{"Bahamas"} 
    option(value="BH" label="Bahrain" )  #{"Bahrain"} 
    option(value="BD" label="Bangladesh" )  #{"Bangladesh"} 
    option(value="BB" label="Barbados" )  #{"Barbados"} 
    option(value="BY" label="Belarus" )  #{"Belarus"} 
    option(value="BE" label="Belgium" )  #{"Belgium"} 
    option(value="BZ" label="Belize" )  #{"Belize"} 
    option(value="BJ" label="Benin" )  #{"Benin"} 
    option(value="BM" label="Bermuda" )  #{"Bermuda"} 
    option(value="BT" label="Bhutan" )  #{"Bhutan"} 
    option(value="BO" label="Bolivia" )  #{"Bolivia"} 
    option(value="BA" label="Bosnia and Herzegovina" )  #{"Bosnia and Herzegovina"} 
    option(value="BW" label="Botswana" )  #{"Botswana"} 
    option(value="BV" label="Bouvet Island" )  #{"Bouvet Island"} 
    option(value="BR" label="Brazil" )  #{"Brazil"} 
    option(value="BQ" label="British Antarctic Territory" )  #{"British Antarctic Territory"} 
    option(value="IO" label="British Indian Ocean Territory" )  #{"British Indian Ocean Territory"} 
    option(value="VG" label="British Virgin Islands" )  #{"British Virgin Islands"} 
    option(value="BN" label="Brunei" )  #{"Brunei"} 
    option(value="BG" label="Bulgaria" )  #{"Bulgaria"} 
    option(value="BF" label="Burkina Faso" )  #{"Burkina Faso"} 
    option(value="BI" label="Burundi" )  #{"Burundi"} 
    option(value="KH" label="Cambodia" )  #{"Cambodia"} 
    option(value="CM" label="Cameroon" )  #{"Cameroon"} 
    option(value="CA" label="Canada" )  #{"Canada"} 
    option(value="CT" label="Canton and Enderbury Islands" )  #{"Canton and Enderbury Islands"} 
    option(value="CV" label="Cape Verde" )  #{"Cape Verde"} 
    option(value="KY" label="Cayman Islands" )  #{"Cayman Islands"} 
    option(value="CF" label="Central African Republic" )  #{"Central African Republic"} 
    option(value="TD" label="Chad" )  #{"Chad"} 
    option(value="CL" label="Chile" )  #{"Chile"} 
    option(value="CN" label="China" )  #{"China"} 
    option(value="CX" label="Christmas Island" )  #{"Christmas Island"} 
    option(value="CC" label="Cocos [Keeling] Islands" )  #{"Cocos [Keeling] Islands"} 
    option(value="CO" label="Colombia" )  #{"Colombia"} 
    option(value="KM" label="Comoros" )  #{"Comoros"} 
    option(value="CG" label="Congo - Brazzaville" )  #{"Congo - Brazzaville"} 
    option(value="CD" label="Congo - Kinshasa" )  #{"Congo - Kinshasa"} 
    option(value="CK" label="Cook Islands" )  #{"Cook Islands"} 
    option(value="CR" label="Costa Rica" )  #{"Costa Rica"} 
    option(value="HR" label="Croatia" )  #{"Croatia"} 
    option(value="CU" label="Cuba" )  #{"Cuba"} 
    option(value="CY" label="Cyprus" )  #{"Cyprus"} 
    option(value="CZ" label="Czech Republic" )  #{"Czech Republic"} 
    option(value="CI" label="Côte d’Ivoire" )  #{"Côte d’Ivoire"} 
    option(value="DK" label="Denmark" )  #{"Denmark"} 
    option(value="DJ" label="Djibouti" )  #{"Djibouti"} 
    option(value="DM" label="Dominica" )  #{"Dominica"} 
    option(value="DO" label="Dominican Republic" )  #{"Dominican Republic"} 
    option(value="NQ" label="Dronning Maud Land" )  #{"Dronning Maud Land"} 
    option(value="DD" label="East Germany" )  #{"East Germany"} 
    option(value="EC" label="Ecuador" )  #{"Ecuador"} 
    option(value="EG" label="Egypt" )  #{"Egypt"} 
    option(value="SV" label="El Salvador" )  #{"El Salvador"} 
    option(value="GQ" label="Equatorial Guinea" )  #{"Equatorial Guinea"} 
    option(value="ER" label="Eritrea" )  #{"Eritrea"} 
    option(value="EE" label="Estonia" )  #{"Estonia"} 
    option(value="ET" label="Ethiopia" )  #{"Ethiopia"} 
    option(value="FK" label="Falkland Islands" )  #{"Falkland Islands"} 
    option(value="FO" label="Faroe Islands" )  #{"Faroe Islands"} 
    option(value="FJ" label="Fiji" )  #{"Fiji"} 
    option(value="FI" label="Finland" )  #{"Finland"} 
    option(value="FR" label="France" )  #{"France"} 
    option(value="GF" label="French Guiana" )  #{"French Guiana"} 
    option(value="PF" label="French Polynesia" )  #{"French Polynesia"} 
    option(value="TF" label="French Southern Territories" )  #{"French Southern Territories"} 
    option(value="FQ" label="French Southern and Antarctic Territories" )  #{"French Southern and Antarctic Territories"} 
    option(value="GA" label="Gabon" )  #{"Gabon"} 
    option(value="GM" label="Gambia" )  #{"Gambia"} 
    option(value="GE" label="Georgia" )  #{"Georgia"} 
    option(value="DE" label="Germany" )  #{"Germany"} 
    option(value="GH" label="Ghana" )  #{"Ghana"} 
    option(value="GI" label="Gibraltar" )  #{"Gibraltar"} 
    option(value="GR" label="Greece" )  #{"Greece"} 
    option(value="GL" label="Greenland" )  #{"Greenland"} 
    option(value="GD" label="Grenada" )  #{"Grenada"} 
    option(value="GP" label="Guadeloupe" )  #{"Guadeloupe"} 
    option(value="GU" label="Guam" )  #{"Guam"} 
    option(value="GT" label="Guatemala" )  #{"Guatemala"} 
    option(value="GG" label="Guernsey" )  #{"Guernsey"} 
    option(value="GN" label="Guinea" )  #{"Guinea"} 
    option(value="GW" label="Guinea-Bissau" )  #{"Guinea-Bissau"} 
    option(value="GY" label="Guyana" )  #{"Guyana"} 
    option(value="HT" label="Haiti" )  #{"Haiti"} 
    option(value="HM" label="Heard Island and McDonald Islands" )  #{"Heard Island and McDonald Islands"} 
    option(value="HN" label="Honduras" )  #{"Honduras"} 
    option(value="HK" label="Hong Kong SAR China" )  #{"Hong Kong SAR China"} 
    option(value="HU" label="Hungary" )  #{"Hungary"} 
    option(value="IS" label="Iceland" )  #{"Iceland"} 
    option(value="IN" label="India" )  #{"India"} 
    option(value="ID" label="Indonesia" )  #{"Indonesia"} 
    option(value="IR" label="Iran" )  #{"Iran"} 
    option(value="IQ" label="Iraq" )  #{"Iraq"} 
    option(value="IE" label="Ireland" )  #{"Ireland"} 
    option(value="IM" label="Isle of Man" )  #{"Isle of Man"} 
    option(value="IL" label="Israel" )  #{"Israel"} 
    option(value="IT" label="Italy" )  #{"Italy"} 
    option(value="JM" label="Jamaica" )  #{"Jamaica"} 
    option(value="JP" label="Japan" )  #{"Japan"} 
    option(value="JE" label="Jersey" )  #{"Jersey"} 
    option(value="JT" label="Johnston Island" )  #{"Johnston Island"} 
    option(value="JO" label="Jordan" )  #{"Jordan"} 
    option(value="KZ" label="Kazakhstan" )  #{"Kazakhstan"} 
    option(value="KE" label="Kenya" )  #{"Kenya"} 
    option(value="KI" label="Kiribati" )  #{"Kiribati"} 
    option(value="KW" label="Kuwait" )  #{"Kuwait"} 
    option(value="KG" label="Kyrgyzstan" )  #{"Kyrgyzstan"} 
    option(value="LA" label="Laos" )  #{"Laos"} 
    option(value="LV" label="Latvia" )  #{"Latvia"} 
    option(value="LB" label="Lebanon" )  #{"Lebanon"} 
    option(value="LS" label="Lesotho" )  #{"Lesotho"} 
    option(value="LR" label="Liberia" )  #{"Liberia"} 
    option(value="LY" label="Libya" )  #{"Libya"} 
    option(value="LI" label="Liechtenstein" )  #{"Liechtenstein"} 
    option(value="LT" label="Lithuania" )  #{"Lithuania"} 
    option(value="LU" label="Luxembourg" )  #{"Luxembourg"} 
    option(value="MO" label="Macau SAR China" )  #{"Macau SAR China"} 
    option(value="MK" label="Macedonia" )  #{"Macedonia"} 
    option(value="MG" label="Madagascar" )  #{"Madagascar"} 
    option(value="MW" label="Malawi" )  #{"Malawi"} 
    option(value="MY" label="Malaysia" )  #{"Malaysia"} 
    option(value="MV" label="Maldives" )  #{"Maldives"} 
    option(value="ML" label="Mali" )  #{"Mali"} 
    option(value="MT" label="Malta" )  #{"Malta"} 
    option(value="MH" label="Marshall Islands" )  #{"Marshall Islands"} 
    option(value="MQ" label="Martinique" )  #{"Martinique"} 
    option(value="MR" label="Mauritania" )  #{"Mauritania"} 
    option(value="MU" label="Mauritius" )  #{"Mauritius"} 
    option(value="YT" label="Mayotte" )  #{"Mayotte"} 
    option(value="FX" label="Metropolitan France" )  #{"Metropolitan France"} 
    option(value="MX" label="Mexico" )  #{"Mexico"} 
    option(value="FM" label="Micronesia" )  #{"Micronesia"} 
    option(value="MI" label="Midway Islands" )  #{"Midway Islands"} 
    option(value="MD" label="Moldova" )  #{"Moldova"} 
    option(value="MC" label="Monaco" )  #{"Monaco"} 
    option(value="MN" label="Mongolia" )  #{"Mongolia"} 
    option(value="ME" label="Montenegro" )  #{"Montenegro"} 
    option(value="MS" label="Montserrat" )  #{"Montserrat"} 
    option(value="MA" label="Morocco" )  #{"Morocco"} 
    option(value="MZ" label="Mozambique" )  #{"Mozambique"} 
    option(value="MM" label="Myanmar [Burma]" )  #{"Myanmar [Burma]"} 
    option(value="NA" label="Namibia" )  #{"Namibia"} 
    option(value="NR" label="Nauru" )  #{"Nauru"} 
    option(value="NP" label="Nepal" )  #{"Nepal"} 
    option(value="NL" label="Netherlands" )  #{"Netherlands"} 
    option(value="AN" label="Netherlands Antilles" )  #{"Netherlands Antilles"} 
    option(value="NT" label="Neutral Zone" )  #{"Neutral Zone"} 
    option(value="NC" label="New Caledonia" )  #{"New Caledonia"} 
    option(value="NZ" label="New Zealand" )  #{"New Zealand"} 
    option(value="NI" label="Nicaragua" )  #{"Nicaragua"} 
    option(value="NE" label="Niger" )  #{"Niger"} 
    option(value="NG" label="Nigeria" )  #{"Nigeria"} 
    option(value="NU" label="Niue" )  #{"Niue"} 
    option(value="NF" label="Norfolk Island" )  #{"Norfolk Island"} 
    option(value="KP" label="North Korea" )  #{"North Korea"} 
    option(value="VD" label="North Vietnam" )  #{"North Vietnam"} 
    option(value="MP" label="Northern Mariana Islands" )  #{"Northern Mariana Islands"} 
    option(value="NO" label="Norway" )  #{"Norway"} 
    option(value="OM" label="Oman" )  #{"Oman"} 
    option(value="PC" label="Pacific Islands Trust Territory" )  #{"Pacific Islands Trust Territory"} 
    option(value="PK" label="Pakistan" )  #{"Pakistan"} 
    option(value="PW" label="Palau" )  #{"Palau"} 
    option(value="PS" label="Palestinian Territories" )  #{"Palestinian Territories"} 
    option(value="PA" label="Panama" )  #{"Panama"} 
    option(value="PZ" label="Panama Canal Zone" )  #{"Panama Canal Zone"} 
    option(value="PG" label="Papua New Guinea" )  #{"Papua New Guinea"} 
    option(value="PY" label="Paraguay" )  #{"Paraguay"} 
    option(value="YD" label="People's Democratic Republic of Yemen" )  #{"People's Democratic Republic of Yemen"} 
    option(value="PE" label="Peru" )  #{"Peru"} 
    option(value="PH" label="Philippines" )  #{"Philippines"} 
    option(value="PN" label="Pitcairn Islands" )  #{"Pitcairn Islands"} 
    option(value="PL" label="Poland" )  #{"Poland"} 
    option(value="PT" label="Portugal" )  #{"Portugal"} 
    option(value="PR" label="Puerto Rico" )  #{"Puerto Rico"} 
    option(value="QA" label="Qatar" )  #{"Qatar"} 
    option(value="RO" label="Romania" )  #{"Romania"} 
    option(value="RU" label="Russia" )  #{"Russia"} 
    option(value="RW" label="Rwanda" )  #{"Rwanda"} 
    option(value="RE" label="Réunion" )  #{"Réunion"} 
    option(value="BL" label="Saint Barthélemy" )  #{"Saint Barthélemy"} 
    option(value="SH" label="Saint Helena" )  #{"Saint Helena"} 
    option(value="KN" label="Saint Kitts and Nevis" )  #{"Saint Kitts and Nevis"} 
    option(value="LC" label="Saint Lucia" )  #{"Saint Lucia"} 
    option(value="MF" label="Saint Martin" )  #{"Saint Martin"} 
    option(value="PM" label="Saint Pierre and Miquelon" )  #{"Saint Pierre and Miquelon"} 
    option(value="VC" label="Saint Vincent and the Grenadines" )  #{"Saint Vincent and the Grenadines"} 
    option(value="WS" label="Samoa" )  #{"Samoa"} 
    option(value="SM" label="San Marino" )  #{"San Marino"} 
    option(value="SA" label="Saudi Arabia" )  #{"Saudi Arabia"} 
    option(value="SN" label="Senegal" )  #{"Senegal"} 
    option(value="RS" label="Serbia" )  #{"Serbia"} 
    option(value="CS" label="Serbia and Montenegro" )  #{"Serbia and Montenegro"} 
    option(value="SC" label="Seychelles" )  #{"Seychelles"} 
    option(value="SL" label="Sierra Leone" )  #{"Sierra Leone"} 
    option(value="SG" label="Singapore" )  #{"Singapore"} 
    option(value="SK" label="Slovakia" )  #{"Slovakia"} 
    option(value="SI" label="Slovenia" )  #{"Slovenia"} 
    option(value="SB" label="Solomon Islands" )  #{"Solomon Islands"} 
    option(value="SO" label="Somalia" )  #{"Somalia"} 
    option(value="ZA" label="South Africa" )  #{"South Africa"} 
    option(value="GS" label="South Georgia and the South Sandwich Islands" )  #{"South Georgia and the South Sandwich Islands"} 
    option(value="KR" label="South Korea" )  #{"South Korea"} 
    option(value="ES" label="Spain" )  #{"Spain"} 
    option(value="LK" label="Sri Lanka" )  #{"Sri Lanka"} 
    option(value="SD" label="Sudan" )  #{"Sudan"} 
    option(value="SR" label="Suriname" )  #{"Suriname"} 
    option(value="SJ" label="Svalbard and Jan Mayen" )  #{"Svalbard and Jan Mayen"} 
    option(value="SZ" label="Swaziland" )  #{"Swaziland"} 
    option(value="SE" label="Sweden" )  #{"Sweden"} 
    option(value="CH" label="Switzerland" )  #{"Switzerland"} 
    option(value="SY" label="Syria" )  #{"Syria"} 
    option(value="ST" label="São Tomé and Príncipe" )  #{"São Tomé and Príncipe"} 
    option(value="TW" label="Taiwan" )  #{"Taiwan"} 
    option(value="TJ" label="Tajikistan" )  #{"Tajikistan"} 
    option(value="TZ" label="Tanzania" )  #{"Tanzania"} 
    option(value="TH" label="Thailand" )  #{"Thailand"} 
    option(value="TL" label="Timor-Leste" )  #{"Timor-Leste"} 
    option(value="TG" label="Togo" )  #{"Togo"} 
    option(value="TK" label="Tokelau" )  #{"Tokelau"} 
    option(value="TO" label="Tonga" )  #{"Tonga"} 
    option(value="TT" label="Trinidad and Tobago" )  #{"Trinidad and Tobago"} 
    option(value="TN" label="Tunisia" )  #{"Tunisia"} 
    option(value="TR" label="Turkey" )  #{"Turkey"} 
    option(value="TM" label="Turkmenistan" )  #{"Turkmenistan"} 
    option(value="TC" label="Turks and Caicos Islands" )  #{"Turks and Caicos Islands"} 
    option(value="TV" label="Tuvalu" )  #{"Tuvalu"} 
    option(value="UM" label="U.S. Minor Outlying Islands" )  #{"U.S. Minor Outlying Islands"} 
    option(value="PU" label="U.S. Miscellaneous Pacific Islands" )  #{"U.S. Miscellaneous Pacific Islands"} 
    option(value="VI" label="U.S. Virgin Islands" )  #{"U.S. Virgin Islands"} 
    option(value="UG" label="Uganda" )  #{"Uganda"} 
    option(value="UA" label="Ukraine" )  #{"Ukraine"} 
    option(value="SU" label="Union of Soviet Socialist Republics" )  #{"Union of Soviet Socialist Republics"} 
    option(value="AE" label="United Arab Emirates" )  #{"United Arab Emirates"} 
    option(value="GB" label="United Kingdom" )  #{"United Kingdom"} 
    option(value="US" label="United States" )  #{"United States"} 
    option(value="ZZ" label="Unknown or Invalid Region" )  #{"Unknown or Invalid Region"} 
    option(value="UY" label="Uruguay" )  #{"Uruguay"} 
    option(value="UZ" label="Uzbekistan" )  #{"Uzbekistan"} 
    option(value="VU" label="Vanuatu" )  #{"Vanuatu"} 
    option(value="VA" label="Vatican City" )  #{"Vatican City"} 
    option(value="VE" label="Venezuela" )  #{"Venezuela"} 
    option(value="VN" label="Vietnam" )  #{"Vietnam"} 
    option(value="WK" label="Wake Island" )  #{"Wake Island"} 
    option(value="WF" label="Wallis and Futuna" )  #{"Wallis and Futuna"} 
    option(value="EH" label="Western Sahara" )  #{"Western Sahara"} 
    option(value="YE" label="Yemen" )  #{"Yemen"} 
    option(value="ZM" label="Zambia" )  #{"Zambia"} 
    option(value="ZW" label="Zimbabwe" )  #{"Zimbabwe"} 
    option(value="AX" label="Åland Islands" )  #{"Åland Islands"} 