extends layout

block content
  h1= title
  p Welcome to Go Book, a compendium for Go matches.
  if currentUser
    p Hi #{currentUser.username}!

  h1 Compendium Info

  if error
    p Error getting Go information
  else
    p The compendium currently has:

    ul
      li #[strong Players:] !{data.player_count}
      li #[strong Matches:] !{data.match_count}
