extends layout

block content
    img(src=match.game_image  width='200px', height='200px')
    ul
        li
            #{match.description} 
            span Black: 
            a(href=match.black_player.url) #{match.black_player.name} (#{match.black_player.rank}) 
            span White: 
            a(href=match.white_player.url) #{match.white_player.name} (#{match.white_player.rank})   
            span Result: 
            if match.winner.name === match.black_player.name
                span B+
            else if match.winner.name === match.white_player.name
                span W+
            else
                span Draw
            span #{match.winner_score_difference} 
            span Date: 
            span #{match.match_date_formatted}
    if currentUser
        hr
        p
            a(href=match.url+"/delete") Delete Match
        p
         a(href=match.url+"/update") Update Match