extends layout

block content
    h1=title
    
    form(method="POST" action="" enctype="multipart/form-data")
        .form-group
            label(for="date_of_match") Date Played:
            input#date_of_match.form-control(type="date" name="date_of_match" value=(undefined===match ? '' : match.match_date_formatted_form))
        .form-group
            - winner_text = [ {winner: "B", description: "Black"}, {winner: "W", description:"White"}, {winner: "D", description:"Draw"} ]
            label(for="winner") Winner:
            select#winner.form-control(type="select" name="winner" required="true")
                option(value="") Select Outcome
                each text in winner_text
                    if match
                        option(value=text.winner selected=(text.winner.toString()===match.winner_formatted_form.toString() ? "selected" : false)) #{text.description}
                    else 
                        option(value=text.winner) #{text.description}
            label(for="score_difference") Score difference at game end:
            input#score_difference.form-control(type="text" placeholder="1.5, 6.5, etc." name="score_difference" required="true" value=(undefined===match ?  "" : match.winner_score_difference))
        .form-group
            label(for="black_player") Black Player:
            select#black_player.form-control(type="select" name="black_player" required="true")
                option(value="") Select Player
                - player_list.sort(function(a,b){let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0})
                for player in player_list
                    if match
                        option(value=player._id selected=(player._id.toString()===match.black_player._id.toString() ? "selected" : false)) #{player.name}
                    else 
                        option(value=player._id) #{player.name}
            label(for="white_player") White Player:
            select#white_player.form-control(type="select" name="white_player" required="true")
                option(value="") Select Player
                - player_list.sort(function(a,b){let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0})
                for player in player_list
                    if match
                        option(value=player._id selected=(player._id.toString()===match.white_player._id.toString() ? "selected" : false)) #{player.name}
                    else 
                        option(value=player._id) #{player.name}
        .form-group
            label(for="match_event") Event match took place in:
            input#match_event.form-control(type="text" placeholder="Ing Cup, NYIG Open, etc. " name="match_event" required="true" value=(undefined===match ?  "" : match.match_event))
            label(for="description") Description of match:
            input#description.form-control(type="text" placeholder="After a strong opening from black..." name="description" required="true" value=(undefined===match ?  "" : match.description))
        //- If there is a game and the game has an image, else ...
        if (!(undefined === match) && match.game_image)
            p #[strong Current Image: ] 
            img.current-image(src=match.game_image, alt=("Image of match"), width='100px', height='100px' )
            div.form-group
                input#current-image.form-control(type='hidden' name='currentImage' value=match.game_image)
            div.form-group
                label(for='image') Change Current Image:
                input#game_image.form-control-file(type="file" name="game_image")
        else   
            .form-group
                input#game_image.form-control-file(type="file" name="game_image")
        button.btn.btn-primary(type="submit") Submit
    if errors
        ul
            for error in errors
                li!= error.msg
  
