extends layout

block content
    h1= title

    ul
        each match in match_list
            li
                img.current-image(src=match.game_image, alt=("Image of match"), width='200px', height='200px' )
                a(href=match.url) View Game
                #{match.description} 
                span Black: 
                a(href=match.black_player.url) #{match.black_player.name} (#{match.black_player.rank}) 
                span White: 
                a(href=match.white_player.url) #{match.white_player.name} (#{match.white_player.rank})   
                span Result: 
                if match.winner.name === match.black_player.name
                    span B+
                else if match.winner.name === match.white_player.name
                    span W+
                else
                    span Draw
                span #{match.winner_score_difference} 
                span Date: 
                span #{match.match_date_formatted}

        else
            li There are no matches.