extends layout

block content
    h1=title


    p Do you really want to delete this match?

    form(method="POST" action="")
        .form-group
            input#matchid.form-control(type="hidden", name="matchid", required="true" value=match._id)

        button.btn.btn-primary(type="submit") Delete