extends layout

block content
    h1 Player: #{player.name}

    div(style='margin-left:20px;margin-top:20px')

    h4 Matches
    
    dl
      each match in matches
        dt 
          a(href=match.url) White: #{match.white_player.name} (#{match.white_player.rank}) vs. Black: #{match.black_player.name} (#{match.white_player.rank})

      else
        p This player has no matches  
    if currentUser
      hr
      p
        a(href=player.url+"/delete") Delete Player
      p
        a(href=player.url+"/edit") Update Player