extends layout

block content
    h1=title

    if player_matches.length

        p #[strong Delete the following matches before attempting to delete this player.]

        div(style="margin-left:20px;margin-top:20px")

            h4 Matches

            dl
            each match in player_matches
                dt
                    a(href=match.url) White: #{match.white_player.name} (#{match.white_player.rank}) vs. Black: #{match.black_player.name} (#{match.white_player.rank})

    else
        p Do you really want to delete this player?

        form(method="POST" action="")
            .form-group
                input#playerid.form-control(type="hidden", name="playerid", required="true" value=player._id)

            button.btn.btn-primary(type="submit") Delete