extends layout

block content
    h1=title

    form(method='POST' action=(player===undefined ? '/compendium/player/create' : '/compendium/player/'+player._id+'/update'))
        .form-group
            label(for='first_name') First Name:
            input#first_name.form-control(type='text' placeholder='First name' name='first_name' required='true' value=(undefined===player ? '' : player.first_name))
            label(for='family_name') Last Name:
            input#family_name.form-control(type='text' placeholder='Last name' name='family_name' required='true' value=(undefined===player ? '' : player.family_name))
        .form-group
            label(for='date_of_birth') Date of birth:
            input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===player ? '' : player.date_of_birth_formatted_form))
            label(for='date_of_death') Date of death:
            input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===player ? '' : player.date_of_death_formatted_form))
        .form-group
            label(for='country') Country of origin: #[strong #{value=(undefined===player ? '' : player.country)} ]
            include countrydropdown.pug
        .form-group
            label(for='rank') Rank:
            input#rank.form-control(type='text' placeholder='9 dan, 1 kyu, etc.' name='rank' value=(undefined===player ? '' : player.rank))
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
                li!= error.msg