extends layout

block content
    h1= title

    ul
        - player_list.sort(function(a,b){let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each player in player_list
            li
                a(href=player.url) #{player.name}
            
        else
            li There are no players.