html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(226, 226, 226);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  text-decoration: underline;
}
